{
    "web-server": {
        "port": 3000,
        "ssl-port": 3001,
        "ssl-cert": "sslcert"
    },
    "keystore": {
        "path": "/path/to/keystore",
        "password": "keystore password"
    },
    "signing": {
        "certificate-passwords": {
            "selfsigned": "certificate password"
        }
    },
    "renderer": {
        "font-path": "/path/to/additional/fonts",
        "logging?": false
    }
}
