{
    "web-server": {
        "port": 3000,
        "tls-port": 3001,
        "tls-cert": "tlscert"
    },
    "keystore": {
        "path": "/path/to/keystore",
        "password": "keystore password"
    },
    "truststore": {
        "path": "/path/to/truststore",
        "password": "truststore password"
    },
    "signing": {
        "certificate-passwords": {
            "selfsigned": "certificate password"
        }
    },
    "renderer": {
        "font-path": "/path/to/additional/fonts",
        "logging?": false
    }
}
